li.bContacts__eClient(data-id=id)
    - var name = user_name || 'Anonimus'
    .bContacts__eClientPic
        if gravatar
            img.bContacts__eClientPicImage(src=gravatar)

        else
            .bContacts__eClientPicAbbr(style="background-color: #"+id.slice(0,6)) #{name.slice(0,1)}

        .bContacts__eClientStatus(class="mStatus_"+status)

    .bContacts__eClientName
        | #{name}
        span.bContacts__eClientNameID= id
