li.bContacts__eClient(data-id=id, class=id == current_client ? "mActive" : "")
    - var name = user_name || 'Anonimus'
    .bContacts__eClientPic
        if gravatar
            img.bContacts__eClientPicImage(src=gravatar)

        else
            .bContacts__eClientPicAbbr #{name.slice(0,1)}

        .bContacts__eClientStatus(class="mStatus_"+status, title=status.slice(0,1).toUpperCase()+status.slice(1))

        if unread
            .bContacts__eClientUnread= unread > 999 ? ">999" : unread

    .bContacts__eClientBody
        .bContacts__eClientName
            | #{name.slice(0, 32)}
            span.bContacts__eClientBodyID= id

        if message
            .bContacts__eClientBodyMessage!= message.text.slice(0, 50)

    if status == 'offline'
        .bContacts__eClientRemove.jsRemove(title="Remove contact")
